*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
}

nav .logo{
    position: relative;
    width: 100px;
    left: 15px;
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
nav{
  height: 70px;
  background: rgba(218, 165, 32, 0.8);
   
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: black;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: rgba(218, 165, 32, 0.1);
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: brown;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  background: rgba(218, 165, 32, 0.8);
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
.container{
    background: url(background.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.resim{
width: 900px;
margin:auto;
}
.sola-kaydir{
float:left;
padding:0 10px 10px 0;
}
.saga-kaydir{
    float: right;
    padding: 0 10px 10px 0;
}